* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar{
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fa-gem{
    margin-right: 0.5rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;  
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color: #fff;
}

.button:hover {
    background: #4837ff;
    transition: all 0.4s ease;
}

.navbar__links:hover{
    color: #f77062;
    transition: all 0.4s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        /*top: -1000px;
        opacity: 0;*/
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar__menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo{
        padding-left: 25px;        
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item{
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn{
        padding-bottom: 2rem;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    } 
}

/* Hero Section */

.main{
    /*background: linear-gradient(-45deg, #2e1d1d, #3d2929, #412e2e, #3e2d2d);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;*/
    background: url(images/background.png);
    background-size: cover;
}

.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    /*background: linear-gradient(-45deg, #2e1d1d, #3d2929, #412e2e, #3e2d2d);
    background-size: 400% 400%;
    animation: gradient1 5s ease infinite;*/
    z-index: 1;
    width: 150%;
    max-width: 1300px;
    padding: 0 50px;
}

@keyframes gradient1 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.main__container h1 {
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #999293 0%, #dbdad8 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__container h2{
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #999293 0%, #dbdad8 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #999293 0%, #dbdad8 100%);    
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content span::before {
    content: "Mathematics Minor";
    animation: animate1 10s ease-in-out infinite;
    padding-left: 0 10px;
}

@keyframes animate1 {

    0% {
        content: "CompSci. Major";
    }
    50% {
        content: "Data Science Minor";
    }
    75% {
        content: "Analyser";
    }
}

.main__btn{
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77062, #fe5196 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a{
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration:none;
}

.main__btn::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.4s;
    border-radius: 4px;
}

.main__btn:hover{
    color: #fff;
}

.main__btn:hover:after{
    width: 100%;
}

.main__img--container{
    text-align: center;
}

#main__img{
    height: 80%;
    width: 80%;
    border-radius: 30%;
}

/* Mobile Responsive */

@media screen and (max-width: 768px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        margin: 0 auto;
        height: 90vh;        
    }

    .main__content{
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content h2 {
        font-size: 3rem;
    }

    .main__content p{
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content h2 {
        font-size: 2rem;
    }

    .main__content p{
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main__btn{
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

/*Service Section CSS*/

.services {
    background-image: url(images/background.png);
    background-size:contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.services h1 {
    background-color: #ff8177;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.services__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services__card{
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(141, 57, 57, 0.6) 100%), url('/images/mypic3.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
}

.services__card:nth-child(2){
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('/images/mypic.jpg');
}

.services__card:nth-child(3){
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(141, 57, 57, 0.6) 100%), url('/images/mypic4.jpg');
}

.services h2{
    color: #fff;
    position: absolute;
    top: 350px;
    left: 30px;
}

.services__card p{
    color: #fff;
    position: absolute;
    top: 400px;
    left: 30px;
}

.services__card button{
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.services__card:hover{
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .services{
        height: 1600px;
    }

    .services h1{
        font-size: 2rem;
        margin-top: 12rem;
    }    
}

@media screen and (max-width: 480px){
    .services{
        height: 1400px;
    }

    .services h1{
        font-size: 1.2rem;
    }

    .services__card{
        width: 300px;
    }
}


.aboutme {
    background: url(images/background.png);
    background-size:contain;
}

.mains img{
    height: 50%;
    width: 50%;
}

.mains{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-me {    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 20px;
    width: 500px;
    margin: auto;
}

.about-me h2 {
    display: inline-block;
    vertical-align: top;
    font-size: 55px;
    background-color: #ff8177;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;    
    margin-bottom: 10px;
    text-align: center;
    text-decoration: solid;
    text-decoration: underline;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}
 
.about-me p {
    max-width: 5in;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: justify;
    float: center;
}
  
.about-me img {
    width: 200px;
    border-radius: 30%;
    float: left;       
}

hr {
    border: 1px solid rgb(255, 255, 255);
    width: 80%;
    height: 0%;
}

.Social {
    background: linear-gradient(-45deg,#2e1d1d, #3d2929, #412e2e, #3e2d2d);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    float: center;
}
    
.Social-icons {
    float: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    flex-direction: column;    
}
  
.fa:hover {
    opacity: 0.7;
}
  
  
.fa-facebook {
    background: #1e1818;
    color: rgb(255, 255, 255);
}
  
.fa-twitter {
    background: #1e1818;
    color: rgb(255, 255, 255);
    align-items: center;

}

.fa-linkedin {
    background: #1e1818;
    color: rgb(255, 255, 255);
    align-items: center;

}

.fa-github {
    background: #1e1818;
    color: rgb(255, 255, 255);
    align-items: center;

}

#myBtn {
    display: flex;
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgb(136, 133, 133); 
    color: rgb(255, 255, 255); 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
}
  
#myBtn:hover {
    background-color: #555; 
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;  
    justify-content: center;    
    align-items: center;    
    flex-direction: column;
    background: url(images/background.png);
    background-size:contain;
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    background-color: #ff8177;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;}

.contact .content p{
    font-weight: 300;
    color: #fff;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;   
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
}

.container .contactInfo .box .text h3{
    font-size: 36px;
    font-weight: 500;
    background-color: #ff8177;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background: url(images/background.png);
    background-size:contain;}

.contactForm h2{
    font-size: 30px;
    color: rgb(255, 252, 252);
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    outline: none;
    resize: none;
    background: url(images/background.png);
    background-size:contain;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: rgb(255, 252, 252);
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
    color: #f6b2c9;
    font-size: 12px;
    transform: translate(-20px);
}

.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}


